{# templates/emails/invitation.html.twig #}
<h1>Bonjour {{ firstname }}!</h1>

<p>
    {{ user | title }} vous invite à participer à son quiz afin de tester vos connaissances sur : {{ quiz }}
</p>

<p>
    <a href="{{ url }}">Veuillez cliquez sur lancer votre quiz !!</a>
</p>
